.App {
  position: relative;
  width: 1440px;
  height: 1024px;
}

.App-header {
  position: absolute;
  width: 1440px;
  height: 72px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.App-header img{
  position: absolute;
  width: 260px;
  height: 32px;
  left: 590px;
  top: 20px;
}

.filter{
  position: absolute;
  width: 952px;
  height: 726px;
  left: 245px;
  top: 120px;
  height: 30px;
}

/* .App-header {
  background-color: #e9ecf1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(8, 7, 7);
} */

